@import url("/fonts/Serif/cmun-serif.css") print;

@media print {

    .prose {
        max-width: none !important;
        width: 100%;
        line-height: unset !important;
        text-align: justify;
    }

    .noprint,
    .print\:hidden {
        display: none;
    }

    * :not(code *) {
        font-family: "Computer Modern Serif", sans-serif;
    }
}