<article class="my-5">
  <header class="d-flex">


    {{ if .Params.header.teaser }}
    <img style="width: 18rem;" src="{{ .Params.header.teaser}} ">
    {{ else if .Params.unsplashId }}
    <img style="width: 18rem;" src="https://source.unsplash.com/{{ .Params.unsplashId }}/200x150">
    {{ else }}
    <img style="width: 18rem;" src="https://source.unsplash.com/200x150/?nature,water">
    {{ end }}
    
    <div class="mx-5">
      <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
      <p>
        {{ .Summary | plainify | safeHTML }}
      </p>
      {{ if .Truncated }}
      <a href="{{ .Permalink }}">Read more</a>
      {{ end }}
    </div>

  </header>

</article>