{{ partial "head.html" . }}

{{ $baseurl := .Site.BaseURL | sanitizeurl }}

<body>
    <article class="container">
        <header>
            <p>
                <a href="/">Programming Notes</a>
            </p>
            <h1>{{ .Title }}</h1>
            {{ range .Params.tags }}
            <a href="{{ $baseurl }}/tags/{{ . | urlize }}" class="c-tag">{{ . }}</a>
            {{ end }}
        </header>


        <main id="js-article" class="container">
            <div class="row">

                <div class="col-9 py-5">
                    {{ .Content }}

                </div>
                <aside class="bd-toc toc col-2 py-5">
                    <div class="sticky-top pt-5">
                        <h3>On this page</h3>
                        {{.TableOfContents}}
                    </div>
                </aside>
            </div>

            {{ partial "related.html" . }}
        </main>
    </article>
    {{ partial "footer.html" . }}