{{ define "header" }}
  <!-- {{ partial "small-header.html" . }} -->
{{ end }}

{{ define "main" }}
  {{ $section := .Site.GetPage "section" .Section }}
  <!-- <article class="flex-l flex-wrap justify-between mw8 center ph5 bg-white"> -->
    <article class="pv3 ph5 w-100-s w-100-m w-70-l center bg-white">
    <header class="w-100">
      <aside class="mt5 instapaper_ignoref b helvetica tracked">
        <a href="/" class="link no-underline black dim">HOME</a>
        {{ range .Params.Categories }}
        <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}" class="link no-underline black dim">&bull; {{ . | upper }}</a>
        {{end}}
      </aside>

      <h1 class="f1 mv3 mb1">
        {{- .Title -}}
      </h1>
      
      {{ if not .Date.IsZero }}
      <time class="f6 mb5 dib tracked" {{ printf `datetime="%s"` (.Date.Format "2006-01-02T15:04:05Z07:00") | safeHTMLAttr }}>
        {{- .Date.Format (default "January 2, 2006" .Site.Params.date_format) -}}
      </time>
      {{end}}

      {{/*
          Show "reading time" and "word count" but only if one of the following are true:
          1) A global config `params` value is set `show_reading_time = true`
          2) A section front matter value is set `show_reading_time = true`
          3) A page front matter value is set `show_reading_time = true`
        */}}
      {{ if (or (eq (.Param "show_reading_time") true) (eq $section.Params.show_reading_time true) )}}
        <span class="f6 mv4 dib tracked"> - {{ i18n "readingTime" .ReadingTime }} </span>
        <span class="f6 mv4 dib tracked"> - {{ i18n "wordCount" .WordCount }} </span>
      {{ end }}
    </header>
    <div class="nested-copy-line-height lh-copy f4 nested-links nested-img mid-gray pr4-l w-two-thirds-l">
      {{- .Content -}}
      {{- partial "tags.html" . -}}
      {{ partial "social-share.html" . }}
      <div class="mt6 instapaper_ignoref">
      {{ if .Site.DisqusShortname }}
        {{ template "_internal/disqus.html" . }}
      {{ end }}
      {{ if .Site.Params.commentoEnable }}
        {{- partial "commento.html" . -}}
      {{ end }}
      </div>
    </div>

    <aside class="w-30-l mt3-l">
      {{- partial "menu-contextual.html" . -}}
    </aside>

  </article>
{{ end }}
