{{ partial "head.html" . }}

{{ $baseurl := .Site.BaseURL | sanitizeurl }}

<body>
    <article class="container">
        <header>
            {{/*  {{ if .IsPage }}
            {{ if .Params.unsplashId }}
            <img style="height: 600px; object-fit: cover" class="col-12"
                src="https://source.unsplash.com/{{ .Params.unsplashId }}">
            {{ else }}
            <img style="height: 600px; object-fit: cover" class="col-12"
                src="https://source.unsplash.com/featured/?q=pattern">
            {{ end }}
            <p class="text-muted">Image from Unsplash</p>
            {{ end }}  */}}

            {{/*  <div style="position: absolute; background: rgba(0, 0, 0, 0.9); color: white; top: 200px; padding: 50px;">  */}}
                <p>
                    <a href="/">Programming Notes</a>
                </p>
                <h1>{{ .Title }}</h1>
                {{ range .Params.tags }}
                <a href="{{ $baseurl }}/tags/{{ . | urlize }}" class="c-tag">{{ . }}</a>
                {{ end }}
            {{/*  </div>  */}}
            {{/* <nav>
                Programming Notes
            </nav> */}}
        </header>





        <main id="js-article" class="container">
            <div class="row">

                <div class="col-9 py-5">
                    {{ .Content }}

                </div>
                <aside class="bd-toc toc col-2 py-5">
                    <div class="sticky-top pt-5">
                        <h3>On this page</h3>
                        {{.TableOfContents}}
                    </div>
                </aside>
            </div>

            {{ partial "related.html" . }}
        </main>

        {{/*  <nav>
            <div>
                <div>
                    {{ if .NextInSection }}
                    <a href="{{ .NextInSection.Permalink }}">Newer</a>
                    {{ else }}
                    {{ end }}
                </div>
                <div>
                    {{ if .PrevInSection }}
                    <a href="{{ .PrevInSection.Permalink }}">Older</a>
                    {{ else }}
                    {{ end }}
                </div>
            </div>
        </nav>  */}}
    </article>
    {{ partial "footer.html" . }}