{{ define "main" }}
  <article class="pa3 pa4-ns nested-copy-line-height nested-img">
    <div class="pa3 pa4-ns w-100 w-70-ns center line-height">
      <section class="pa3 pa4-ns mid-gray">
        {{- .Content -}}
      </section>

      <section class=" pa3 pa4-ns">
        <h2 class="f3">Sections</h2>
      <ul class="list">
        {{ range where .Pages "IsNode" true}}
        <li>
          <a href="{{.RelPermalink}}" class="link black dim">
            {{ .Title }}
          </a>
        </li>
        {{ end }}
      </ul>
    </section>
    
    <section class=" pa3 pa4-ns">
      <h2 class="f3">Pages</h2>
      <ul>
        {{ range where .Pages "IsNode" false }}
        <li>
          <a href="{{.RelPermalink}}" class="link black dim">
            {{ .Title }}
          </a>
        </li>
        {{end}}
      </ul>
    </section>
  </div>
  </article>
{{ end }}
