<!-- Site Header -->
<header>
  <div class="bg-black dark:bg-slate-900 text-white">
    <nav class="center relative max-w-4xl mx-auto px-12 py-4" role="navigation">
      <div class="flex justify-between">
        <div class="py-1">
          <a class="text-2xl" href="{{ .Site.Home.RelPermalink }}" >
            {{ .Site.Title }}
          </a><br>
          <p class="text-sm text-gray-500">
            Musings in Software Engineering
          </p>
        </div>
        <div class="flex">
          {{ if .Site.Menus.main }}
          <ul class="">
            {{ range .Site.Menus.main }}
            <li class="inline-block py-2 px-2 last:pr-0 first:pl-0">
              <a class="" href="{{ .URL }}" title="{{ i18n " pageTitle" . }}">
                {{ .Name }}
              </a>
            </li>
            {{ end }}
          </ul>
          {{ end }}
          
        </div>
      </div>
    </nav>
  </div>
</header>