<!-- Site Header -->
<header>
    <div class="bg-black dark:bg-slate-900 text-white">
      <nav class="center relative max-w-4xl mx-auto px-4 sm:px-12 py-4" role="navigation">
        <div class="flex-l justify-between items-center center">
          <a href="{{ .Site.Home.RelPermalink }}" class="f3 hover-underline-animation fg-black">
            {{ with .Site.Params.site_logo }}
              <img src="{{ . }}" class="w100 mw5-ns" alt="{{ $.Site.Title }}" />
            {{ else }}
              {{ .Site.Title }}
            {{ end }}
          </a>
          <div class="flex-l items-center">
            {{ if .Site.Menus.main }}
              <ul class="pl0">
                {{ range .Site.Menus.main }}
                <li class="list f5 f4-ns fw4 dib pl3">
                  <a class="hover-underline-animation" href="{{ .URL }}" title="{{ i18n "pageTitle" . }}">
                    {{ .Name }}
                  </a>
                </li>
                {{ end }}
              </ul>
            {{ end }}
            <!-- {{ partialCached "social-follow.html" . }} -->
          </div>
        </div>
      </nav>
    </div>
  </header>