</main>
<footer>
    {{ if .Site.Menus.footer }}
        <nav>
            {{ range .Site.Menus.footer.ByWeight }}
                {{ if .HasChildren }}
                    <li>
                        <h3>{{ .Name }}</h3>
                        <ul>
                            {{ range .Children }}
                                <li><a href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
                            {{ end }}
                        </ul>
                    </li>
                {{ else }}
                    <li>
                        <h3>{{ .Name }}</h3>
                    </li>
                {{ end }}
            {{ end }}
        </nav>
    {{ end }}

    <div class="p-copyright">
        {{ with .Site.Copyright | safeHTML }}
            {{ . }}
        {{ else }}
            Suresh Sarda
            &nbsp;&bull;&nbsp;
            {{ .Site.LastChange.Format "2006" }}

            {{ if .Site.Title }}
                &nbsp;&bull;&nbsp;
                <a href="{{ "" | absLangURL }}">{{ .Site.Title }}</a>
            {{ end }}
        {{ end }}
    </div>
</footer>


