<footer class="mt-5 py-5">
    <div class="container py-5">
        {{ if .Site.Menus.footer }}
        <div class="row">
            <div class="col-lg-4 mb-3">
                <h3>
                    <a href="/">Programming Notes</a>
                </h3>
                <ul class="list-unstyled">
                    <li>Share the knowledge that you can and learn more in the process.</li>
                </ul>

            </div>
            <div class="col-lg-1"></div>
            {{ range .Site.Menus.footer.ByWeight }}
            {{ if .HasChildren }}
            <div class="col-lg-2">
                <h5>{{ .Name }}</h5>
                <ul class="list-unstyled">
                    {{ range .Children }}
                    <li class="mb-2"><a href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            </div>
            {{ else }}
            <li class="col">
                <h3>{{ .Name }}</h3>
            </li>
            {{ end }}
            {{ end }}
        </div>
        {{ end }}
    </div>

    <div class="p-copyright">
        {{ with .Site.Copyright | safeHTML }}
        {{ . }}
        {{ else }}
        Suresh Sarda
        &nbsp;&bull;&nbsp;
        {{ .Site.LastChange.Format "2006" }}

        {{ if .Site.Title }}
        &nbsp;&bull;&nbsp;
        <a href="{{ "" | absLangURL }}">{{ .Site.Title }}</a>
        {{ end }}
        {{ end }}
    </div>
</footer>