<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
<body>
<a href="#main" class="skip-link p-screen-reader-text">Skip to content</a>
{{ partial "svgpack-sprite.html" . }}
<header class="container">
    {{ if .IsPage }}
        {{ $baseurl := .Site.BaseURL | sanitizeurl }}

        {{ if not .Params.hideDate }}
            <div class="c-time">
                {{ partial "timestamp.html" . }}
            </div>
        {{ end }}

        <h1>{{ .Title }}</h1>
        <subtitle>
            {{ range .Params.tags }}
                <a href="{{ $baseurl }}/tags/{{ . | urlize }}" class="c-tag">{{ . }}</a>
            {{ end }}
        </subtitle>
    {{ else }}
        <h1><a href="{{ .Site.BaseURL }}" class="p-title__link">{{ .Site.Title }}</a></h1>
        <subtitle>by Suresh Sarda</subtitle>
    {{ end }}
    {{ with ($.Param "subtitle") }}
        <p class="p-subtitle">
            {{ . }}
        </p>
    {{ end }}
</header>
