<footer class="bg-black white bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex justify-between pv3 w-100-s w-100-m w-70-l w-70-ns center">
    <div class="w-25 ">
      <h1 class="f4">ABOUT</h1>
      <p>
        Hi! I'm Suresh. Your host.
        You can get to know me better in the <a class="link white dim" href="/about">about</a> section or follow me using the social media icons on the right
      </p>

      <div>{{ partial "social-follow.html" . }}</div>

      <a class="f5 fw4 hover-white no-underline dn dib-ns pv2 mt4 link white dim" href="{{ .Site.BaseURL }}">
        &copy; Suresh Sarda {{ now.Format "2006"}}
      </a>

    </div>

    {{ range $key, $taxonomy := .Site.Taxonomies }}
    <div class="w-25">
      <h1 class="f4">{{ $key | upper }}</h1>
      <ul class="list ph0">
        {{ range $taxonomy.ByCount }}
        <li><a class="pv1 f5 fw4 hover-white no-underline dn dib-ns link white dim" href="/{{$key}}/{{.Term}}"> {{.Term}} ({{ .Count }}) </a> </li>
        {{ end }}
      </ul>

    </div>
    {{ end }}
  </div>

</footer>