{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
<article class="center cf pv5 measure-wide-l">
    <div style="font-size: 200px; font-family: 'Source Code Pro', monospace;">
        4<>4
    </div>
    <h1>
        Not Found
    </h1>
    <p class="nested-links">
        You could try the <a href="/">home page</a> to view recent posts or perhaps try the <a href="/tags/">tags</a> or <a href="/category/">categories</a> to find what you are
        looking for?
    </p>
</article>
{{ end }}