{{ partial "head.html" . }}

<main id="main" class="container">
    <header>
        <h1>Programming Notes</h1>
        <p>by Suresh Sarda</p>
    </header>
    <div class="row">
        <div class="col">

            
            {{ range $index, $page := (.Paginate (where (where .Site.RegularPages "Type" "posts") ".Params.curated" "==" true)).Pages }}
            {{if ne $index 0 }}
            {{ end }}
            {{ .Render "li" }}
            {{ end }}
            
            <section>
                <!-- Article Series -->
                <div>
                    
                </div>
            </section>
        </div>
    </div>
</main>
{{ partial "footer.html" . }}
